<footer class="mb-2">
<div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <a href="https://www.instagram.com/anshikaagrawal917
        "><i class="fa-brands fa-square-instagram insta"></i></a>
    </div>
    <div class="f-info-brand">&copy;Tech Blog Website</div>
    <div class="f-info-links">
        <a href="privacy">Privacy</a>
        <a href="terms">Terms&Conditon</a>
    </div>
</div>
</footer>